<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Plataforma de Gestão e Portfólio de Projetos SaaS">
    <meta name="author" content="Equipe Crianex">
    
    <link rel="shortcut icon" href="../../../../img/favicon.ico">

    
    <title>Partial Client Validation - Crianex</title>
    

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/v4-shims.css">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/hack-font@3.3.0/build/web/hack.min.css">
    <link href='//rsms.me/inter/inter.css' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,600,700&subset=latin-ext,latin' rel='stylesheet' type='text/css'>
    <link href="../../../../css/bootstrap-custom.min.css" rel="stylesheet">
    <link href="../../../../css/base.min.css" rel="stylesheet">
    <link href="../../../../css/cinder.min.css" rel="stylesheet">

    
        
        <link rel="stylesheet" href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.18.0/build/styles/github.min.css">
        
    
    <link href="../../../../assets/extra.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
            <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
        <![endif]-->

    

     
</head>

<body>

    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">

        <!-- Collapsed navigation -->
        <div class="navbar-header">
            <!-- Expander button -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            

            <!-- Main title -->

            
              <a class="navbar-brand" href="../../../..">Crianex</a>
            
        </div>

        <!-- Expanded navigation -->
        <div class="navbar-collapse collapse">
                <!-- Main navigation -->
                <ul class="nav navbar-nav">
                
                
                    <li >
                        <a href="../../../..">Home</a>
                    </li>
                
                
                
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Visão <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                        
                            
<li >
    <a href="../../../../visao/cenario/">1 · Cenário</a>
</li>

                        
                            
<li >
    <a href="../../../../visao/solucao/">2 · Solução</a>
</li>

                        
                            
<li >
    <a href="../../../../visao/estrategias/">3 · Estratégias</a>
</li>

                        
                            
<li >
    <a href="../../../../visao/er/">4 · Eng. de Requisitos</a>
</li>

                        
                            
<li >
    <a href="../../../../visao/cronograma/">5 · Cronograma</a>
</li>

                        
                            
<li >
    <a href="../../../../visao/equipe/">6 · Equipe e Iteração</a>
</li>

                        
                            
<li >
    <a href="../../../../visao/dor-dod/">7 · DoR e DoD</a>
</li>

                        
                            
  <li class="dropdown-submenu">
    <a tabindex="-1" href="">Lições Aprendidas</a>
    <ul class="dropdown-menu">
        
            
<li >
    <a href="../../../../visao/10-licoes/10-1/">10.1 · Unidade 1</a>
</li>

        
            
<li >
    <a href="../../../../visao/10-licoes/10-2/">10.2 · Unidade 2</a>
</li>

        
            
<li >
    <a href="../../../../visao/10-licoes/10-3/">10.3 · Unidade 3</a>
</li>

        
    </ul>
  </li>

                        
                        </ul>
                    </li>
                
                
                
                    <li class="dropdown active">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Iterações <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                        
                            
<li >
    <a href="../../../">Visão Geral</a>
</li>

                        
                            
  <li class="dropdown-submenu">
    <a tabindex="-1" href="">Unidade 1</a>
    <ul class="dropdown-menu">
        
            
<li >
    <a href="../../../unidade-1/">Resumo — Evidências</a>
</li>

        
            
<li >
    <a href="../../../unidade-1/atas/2026-04-09/">Ata — 09/04/2026</a>
</li>

        
            
<li >
    <a href="../../../unidade-1/atas/2026-04-22/">Ata Domain Modeling, Replenishment Macro e Commitment — 22/04/2026</a>
</li>

        
    </ul>
  </li>

                        
                            
  <li class="dropdown-submenu">
    <a tabindex="-1" href="">IT1 — Vitrine Pública</a>
    <ul class="dropdown-menu">
        
            
<li >
    <a href="../../">Resumo</a>
</li>

        
            
<li >
    <a href="../../features-entregues/">Features Entregues</a>
</li>

        
            
  <li class="dropdown-submenu">
    <a tabindex="-1" href="">Evidências</a>
    <ul class="dropdown-menu">
        
            
<li >
    <a href="../../evidencias/design-tecnico/">Design Técnico</a>
</li>

        
            
<li >
    <a href="../../evidencias/prototipo/">Protótipo</a>
</li>

        
    </ul>
  </li>

        
            
  <li class="dropdown-submenu">
    <a tabindex="-1" href="">Validação</a>
    <ul class="dropdown-menu">
        
            
<li class="active">
    <a href="./">Partial Client Validation</a>
</li>

        
            
<li >
    <a href="../formal/">Formal Client Validation</a>
</li>

        
    </ul>
  </li>

        
            
<li >
    <a href="../../vv/">Resultados V&V</a>
</li>

        
            
  <li class="dropdown-submenu">
    <a tabindex="-1" href="">Atas de Reunião</a>
    <ul class="dropdown-menu">
        
            
<li >
    <a href="../../atas/2026-05-01/">Ata Compromisso das correções — 01/05/2026</a>
</li>

        
            
<li >
    <a href="../../atas/2026-05-11/">Ata Feature Discovery Session — 11/05/2026</a>
</li>

        
            
<li >
    <a href="../../atas/2026-05-14/">Ata Refinamento Requisitos — 14/05/2026</a>
</li>

        
            
<li >
    <a href="../../atas/2026-05-17/">Ata Technical Design Review — 17/05/2026</a>
</li>

        
            
<li >
    <a href="../../atas/2026-06-14/">Ata Artifact Closure — 14/06/2026</a>
</li>

        
    </ul>
  </li>

        
    </ul>
  </li>

                        
                            
  <li class="dropdown-submenu">
    <a tabindex="-1" href="">IT2 — Lead Capture</a>
    <ul class="dropdown-menu">
        
            
<li >
    <a href="../../../iteracao-2/">Resumo</a>
</li>

        
            
<li >
    <a href="../../../iteracao-2/features-entregues/">Features Entregues</a>
</li>

        
            
  <li class="dropdown-submenu">
    <a tabindex="-1" href="">Evidências</a>
    <ul class="dropdown-menu">
        
            
<li >
    <a href="../../../iteracao-2/evidencias/design-tecnico/">Design Técnico</a>
</li>

        
    </ul>
  </li>

        
            
  <li class="dropdown-submenu">
    <a tabindex="-1" href="">Validação</a>
    <ul class="dropdown-menu">
        
            
<li >
    <a href="../../../iteracao-2/validacao/partial/">Partial Client Validation</a>
</li>

        
            
<li >
    <a href="../../../iteracao-2/validacao/formal/">Formal Client Validation</a>
</li>

        
    </ul>
  </li>

        
            
<li >
    <a href="../../../iteracao-2/vv/">Resultados V&V</a>
</li>

        
            
  <li class="dropdown-submenu">
    <a tabindex="-1" href="">Atas de Reunião</a>
    <ul class="dropdown-menu">
        
            
<li >
    <a href="../../../iteracao-2/atas/reuniao_commitment/">Ata Iteration 2 Replenishment Micro e Commitment</a>
</li>

        
            
<li >
    <a href="../../../iteracao-2/atas/reuniao_TDR2/">Technical Design Review IT2</a>
</li>

        
    </ul>
  </li>

        
    </ul>
  </li>

                        
                            
  <li class="dropdown-submenu">
    <a tabindex="-1" href="">IT3 — Núcleo Operacional</a>
    <ul class="dropdown-menu">
        
            
<li >
    <a href="../../../iteracao-3/">Resumo — Evidências</a>
</li>

        
    </ul>
  </li>

                        
                        </ul>
                    </li>
                
                
                
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Lista de Funcionalidades <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                        
                            
<li >
    <a href="../../../../backlog/rastreabilidade/">Rastreabilidade</a>
</li>

                        
                            
<li >
    <a href="../../../../backlog/priorizacao/">Priorização</a>
</li>

                        
                            
<li >
    <a href="../../../../backlog/dependencias/">Mapa de Dependências</a>
</li>

                        
                        </ul>
                    </li>
                
                
                
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Arquitetura <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                        
                            
<li >
    <a href="../../../../arquitetura/">Arquitetura</a>
</li>

                        
                            
<li >
    <a href="../../../../arquitetura/roles/">Roles</a>
</li>

                        
                        </ul>
                    </li>
                
                
                
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Entregas <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                        
                            
<li >
    <a href="../../../../entregas/">Visão Geral</a>
</li>

                        
                            
<li >
    <a href="../../../../entregas/unidade-1/">Unidade 1</a>
</li>

                        
                            
<li >
    <a href="../../../../entregas/unidade-2/">Unidade 2</a>
</li>

                        
                            
<li >
    <a href="../../../../entregas/unidade-3/">Unidade 3</a>
</li>

                        
                            
<li >
    <a href="../../../../entregas/unidade-4/">Unidade 4</a>
</li>

                        
                        </ul>
                    </li>
                
                
                
                    <li >
                        <a href="../../../../referencias/">Referências</a>
                    </li>
                
                
                </ul>

            <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#" data-toggle="modal" data-target="#mkdocs_search_modal">
                            <i class="fas fa-search"></i> Search
                        </a>
                    </li>
            </ul>
        </div>
    </div>
</div>

    <div class="container">
        
        
        <div class="col-md-3"><div class="bs-sidebar hidden-print affix well" role="complementary">
    <ul class="nav bs-sidenav">
        <li class="first-level active"><a href="#it1-validacao-parcial-do-cliente-partial-client-validation">IT1 — Validação Parcial do Cliente (Partial Client Validation)</a></li>
            <li class="second-level"><a href="#video-compilado-das-sessoes">Vídeo Compilado das Sessões</a></li>
                
            <li class="second-level"><a href="#feedbacks-registrados">Feedbacks Registrados</a></li>
                
    </ul>
</div></div>
        <div class="col-md-9" role="main">

<h1 id="it1-validacao-parcial-do-cliente-partial-client-validation">IT1 — Validação Parcial do Cliente (Partial Client Validation)<a class="headerlink" href="#it1-validacao-parcial-do-cliente-partial-client-validation" title="Permanent link">&para;</a></h1>
<p>Registros das sessões de validação parcial realizadas ao longo da IT1 com o cliente Otávio. Cada sessão de validação parcial tem como objetivo coletar feedback antecipado sobre funcionalidades implementadas, permitindo ajustes antes da validação formal.</p>
<hr />
<h2 id="video-compilado-das-sessoes">Vídeo Compilado das Sessões<a class="headerlink" href="#video-compilado-das-sessoes" title="Permanent link">&para;</a></h2>
<p>O vídeo abaixo reúne todas as gravações das sessões de Partial Client Validation realizadas durante a IT1.</p>
<div align="center">
  <iframe
    width="800"
    height="450"
    src="https://www.youtube.com/embed/tn5DQb0zYeY"
    title="IT1 — Partial Client Validation"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
    style="border-radius: 4px;">
  </iframe>
  <p><em>Fonte: Gravações das sessões de Partial Client Validation — IT1, 2026.</em></p>
</div>

<hr />
<h2 id="feedbacks-registrados">Feedbacks Registrados<a class="headerlink" href="#feedbacks-registrados" title="Permanent link">&para;</a></h2>
<blockquote>
<p><em>Registre abaixo os feedbacks coletados nas sessões de validação parcial.</em></p>
</blockquote>
<table>
<thead>
<tr>
<th>#</th>
<th>Data</th>
<th>Feature(s)</th>
<th>Feedback</th>
<th>Tipo</th>
<th>Ação Tomada</th>
</tr>
</thead>
<tbody>
<tr>
<td>1</td>
<td>15/06/2026</td>
<td>F09, F10, F11, F12, F13, F14, F15, F16, F17, F18</td>
<td>CEO elogiou as telas enviadas (login, dashboard de admin, landing page, vitrine e demais partes); destacou positivamente o cuidado com a estrutura e a forma como a aplicação está sendo pensada</td>
<td>Elogio</td>
<td>Nenhuma — feedback positivo, sem ajustes necessários</td>
</tr>
<tr>
<td>2</td>
<td>15/06/2026</td>
<td>Geral (IT1)</td>
<td>CEO se ofereceu para ajudar com apresentações sobre a empresa, produto ou contexto do projeto caso necessário</td>
<td>Oferta</td>
<td>Registrado para uso na validação formal ou apresentações futuras</td>
</tr>
<tr>
<td>3</td>
<td>15/06/2026</td>
<td>Geral (IT1)</td>
<td>CEO manifestou interesse em testar a aplicação localmente para entender melhor o setup, as funcionalidades e acompanhar o estado real do sistema</td>
<td>Solicitação</td>
<td>Providenciar acesso local / instruções de setup para o cliente</td>
</tr>
</tbody>
</table></div>
        
        
    </div>

    
      <footer class="col-md-12 text-center">
          
          
            <hr>
            <p>
            <small>Documentation built with <a href="http://www.mkdocs.org/">MkDocs</a>.</small>
            </p>
          

          
          
      </footer>
    
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="../../../../js/bootstrap-3.0.3.min.js"></script>

    
    <script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.18.0/build/highlight.min.js"></script>
        
    <script>hljs.initHighlightingOnLoad();</script>
    

    <script>var base_url = "../../../.."</script>
    
    <script src="../../../../js/base.js"></script>
    <script src="../../../../assets/nav-click.js"></script>
    <script src="../../../../search/main.js"></script>

    <div class="modal" id="mkdocs_search_modal" tabindex="-1" role="dialog" aria-labelledby="searchModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="searchModalLabel">Search</h4>
            </div>
            <div class="modal-body">
                <p>
                    From here you can search these documents. Enter
                    your search terms below.
                </p>
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search..." id="mkdocs-search-query" title="Type search term here">
                    </div>
                </form>
                <div id="mkdocs-search-results"></div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div><div class="modal" id="mkdocs_keyboard_modal" tabindex="-1" role="dialog" aria-labelledby="keyboardModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="keyboardModalLabel">Keyboard Shortcuts</h4>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            </div>
            <div class="modal-body">
              <table class="table">
                <thead>
                  <tr>
                    <th style="width: 20%;">Keys</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="help shortcut"><kbd>?</kbd></td>
                    <td>Open this help</td>
                  </tr>
                  <tr>
                    <td class="next shortcut"><kbd>n</kbd></td>
                    <td>Next page</td>
                  </tr>
                  <tr>
                    <td class="prev shortcut"><kbd>p</kbd></td>
                    <td>Previous page</td>
                  </tr>
                  <tr>
                    <td class="search shortcut"><kbd>s</kbd></td>
                    <td>Search</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
    </body>

</html>
